@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);





#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #6e0c43;
}
#ext_menu-0 .mbr-navbar__section {
  background: #6e0c43;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-4 P {
  color: #be9eb0;
}
#header1-4 B {
  color: #ffffff;
}
#header1-4 H1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-align: right;
}
.cid-ryAzmJEOcy.popup-builder {
  background-color: #ffffff;
}
.cid-ryAzmJEOcy.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-ryAzmJEOcy.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-ryAzmJEOcy .modal-content,
.cid-ryAzmJEOcy .modal-dialog {
  height: auto;
}
.cid-ryAzmJEOcy .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-ryAzmJEOcy .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-ryAzmJEOcy .form-wrapper .mbr-form .form-group,
  .cid-ryAzmJEOcy .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-ryAzmJEOcy .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-ryAzmJEOcy .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-ryAzmJEOcy .mbr-text {
  text-align: center;
}
.cid-ryAzmJEOcy .pt-0 {
  padding-top: 0 !important;
}
.cid-ryAzmJEOcy .pb-0 {
  padding-bottom: 0 !important;
}
.cid-ryAzmJEOcy .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-ryAzmJEOcy .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-ryAzmJEOcy .modal-open {
  overflow: hidden;
}
.cid-ryAzmJEOcy .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-ryAzmJEOcy .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-ryAzmJEOcy .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-ryAzmJEOcy .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-ryAzmJEOcy .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-ryAzmJEOcy .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-ryAzmJEOcy .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-ryAzmJEOcy .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-ryAzmJEOcy .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-ryAzmJEOcy .modal-backdrop.fade {
  opacity: 0;
}
.cid-ryAzmJEOcy .modal-backdrop.show {
  opacity: .5;
}
.cid-ryAzmJEOcy .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-ryAzmJEOcy .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-ryAzmJEOcy .modal-header .close:hover {
  opacity: 1;
}
.cid-ryAzmJEOcy .modal-header .close:focus {
  outline: none;
}
.cid-ryAzmJEOcy .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-ryAzmJEOcy .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-ryAzmJEOcy .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-ryAzmJEOcy .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-ryAzmJEOcy .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-ryAzmJEOcy .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-ryAzmJEOcy .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-ryAzmJEOcy .modal-sm {
    max-width: 300px;
  }
  .cid-ryAzmJEOcy .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-ryAzmJEOcy .modal-lg,
  .cid-ryAzmJEOcy .modal-xl {
    max-width: 800px;
  }
  .cid-ryAzmJEOcy .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-ryAzmJEOcy .modal-xl {
    max-width: 1140px;
  }
  .cid-ryAzmJEOcy .container {
    max-width: 1140px;
  }
}
.cid-ryAzmJEOcy .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-ryAzmJEOcy .container {
    max-width: 720px;
  }
}
.cid-ryAzmJEOcy .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-ryAzmJEOcy .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-ryAzmJEOcy .form-group {
  margin-bottom: 1rem;
}
.cid-ryAzmJEOcy .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-ryAzmJEOcy .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-ryAzmJEOcy .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#content5-8 .mbr-article P {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
}
#header3-q H3 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 32px;
  color: #6e0c43;
}
#features1-p B {
  color: #ffffff;
}
#features1-p P {
  color: #eb6b56;
}
#features1-p .mbr-section__col .mbr-header__text {
  color: #6e0c43;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}
#contacts2-1 B {
  color: #ffffff;
}
#contacts2-1 P {
  color: #ffffff;
}
#footer1-3 P {
  color: #ffffff;
  text-align: center;
}






#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #6e0c43;
}
#ext_menu-a .mbr-navbar__section {
  background: #6e0c43;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-d H1 {
  color: #6e0c43;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
}
#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-e .mbr-article {
  color: #6e0c43;
}
#msg-box3-e .mbr-article P {
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}
#msg-box5-s .mbr-header__text {
  color: #000000;
}
#msg-box5-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-s .mbr-article {
  color: #6e0c43;
}
#msg-box5-s .mbr-article DIV {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}
#content4-u P {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #6e0c43;
}
#content4-u .mbr-section__col .mbr-header__text {
  font-size: 46px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#content4-u .mbr-section-title .mbr-header__text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
}
#contacts2-b B {
  color: #ffffff;
}
#contacts2-b P {
  color: #ffffff;
}
#footer1-c P {
  color: #ffffff;
  text-align: center;
}

#header4-k H1 {
  color: #6e0c43;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
}
#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #6e0c43;
}
#ext_menu-g .mbr-navbar__section {
  background: #6e0c43;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts2-h B {
  color: #ffffff;
}
#contacts2-h P {
  color: #ffffff;
}
#footer1-i P {
  color: #ffffff;
  text-align: center;
}

#ext_menu-z .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #6e0c43;
}
#ext_menu-z .mbr-navbar__section {
  background: #6e0c43;
}
#ext_menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#contacts2-10 B {
  color: #ffffff;
}
#contacts2-10 P {
  color: #ffffff;
}
#footer1-11 P {
  color: #ffffff;
  text-align: center;
}
